@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  min-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --fuschia-100: #ef5da8;
  --fuschia-80: #f178b6;
  --fuschia-60: #fcddec;
  --iris-100: #5d5fef;
  --iris-80: #7879f1;
  --iris-60: #a5a6f6;
}

.container {
  max-width: 1610px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header */
.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.header_item {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
  display: flex;
  gap: 60px;
}

.header_link {
  position: relative;
}

.header_link:not(:first-child):after {
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  top: 7px;
  margin-left: 7px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons.svg');
}

.header_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
  position: relative;
}

.header_text::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 140px;
  top: 5px;
  right: 165px;
  background-repeat: no-repeat;
  background-image: url('../img/icons1.svg');
}

.header {
  box-shadow: 0 0 8px 0 rgba(51, 51, 51, 0.2);
  background: #fff;
}

.header_input {
  width: 410px;
  padding: 12px 80px 13px 16px;
  border: 1px solid #64b496;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header_desc {
  border: 1px solid #64B496;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 13px 36px 13px 13px;
  position: absolute;
  right: -160.30px;
}

.header_form {
  display: flex;
  align-items: center;
  margin-left: -230px;
  position: relative;
}

.header_section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header_section::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 15px;
  display: inline-block;
  top: 39px;
  left: 63%;
  background-repeat: no-repeat;
  background-image: url('../img/icons.svg');
}

.heade_row {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.heade_row::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  right: 135%;
  background-repeat: no-repeat;
  background-image: url('../img/link.svg');
}

.heade_row::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 18px;
  left: -20px;
  background-repeat: no-repeat;
  background-image: url('../img/icon2.svg');
}

.header_list:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  right: 92%;
  top: -2px;
  background-repeat: no-repeat;
  background-image: url('../img/icons5.svg');
}

.header_list:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  right: 92%;
  top: -2px;
  background-repeat: no-repeat;
  background-image: url('../img/icons6.svg');
}

.header_list {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000;
  margin-right: 20px;
  position: relative;
}

/* hero */
.hero {
  background-repeat: no-repeat;
  background-image: url('../img/hero.png');
  padding: 150px 150px;
  background-size: cover;
}

.hero_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #212529;
}

.hero_title span {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}

.hero_item {
  font-weight: 900;
  font-size: 55px;
  line-height: 124%;
  letter-spacing: 0.01em;
  color: #000;
}

.hero_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  /* width: 450px; */
}

.hero_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #f53e32;
  border-radius: 5px;
  background-color: #f53e32;
  margin-top: 41px;
  padding: 12px 23px;
}

.hero_block {
  width: 450px;
}

/* shoping */
.shoping {
  margin-top: 100px;
}

.shoping_list {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 416px;
  height: 84px;
  background-color: #f7f7f8;
  margin-bottom: 5px;
}

.shoping_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  text-align: center;
  padding-top: 20px;
  color: #f53e32;
}

.shoping_pic {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  text-align: center;
  color: #2b2b2d;
}

.shoping_pic:hover {
  color: #f53e32;
}

.shoping_row {
  font-weight: 400;
  font-size: 12px;
  line-height: 143%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #7a7a7a;
}

.shoping_list1 {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 416px;
  height: 74px;
  background-color: #f7f7f8;
  margin-bottom: 5px;
}

.shoping_items {
  background-repeat: no-repeat;
  background-image: url('../img/img1.svg');
  width: 416px;
  height: 520px;
  border-radius: 5px;
}

.shoping_item {
  position: relative;
}

.shoping_desc {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #fff;
  position: absolute;
  top: 77%;
  left: 190px;
}

.shoping_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  background-color: #f53e32;
  border-radius: 5px;
  padding: 12px 23px;
  border: none;
  position: absolute;
  top: 85%;
  left: 160px;
}

.shoping_items_img {
  background-repeat: no-repeat;
  background-image: url('../img/img3.svg');
  width: 416px;
  height: 520px;
  border-radius: 5px;
}

.shoping_cake {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

/* menu */
.menu {
  margin-top: 101px;
}

.menu_item {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
}

.menu_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.menu_row {
  font-weight: 700;
  font-size: 14px;
  line-height: 167%;
  letter-spacing: 0.03em;
  color: #f53e32;
  margin-top: 10px;
  margin-left: 15px;
}

.menu_pic {
  font-weight: 700;
  font-size: 14px;
  line-height: 167%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
  margin-top: 10px;
  margin-left: 15px;
}

.menu_list {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 306px;
  height: 49px;
  background-color: #f7f7f8;
  margin-top: 5px;
  position: relative;
}

.menu_list:nth-child(1):after {
  background-repeat: no-repeat;
  background-image: url('../img/icons3.svg');

}

.menu_list::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 26px;
  right: 15px;
  top: 10px;
  background-repeat: no-repeat;
  background-image: url('../img/icons4.svg');
}

.menu_desc {
  border-radius: 5px;
  width: 306px;
  height: 686px;
  position: relative;
}

.menu_block {
  position: relative;
}

.menu_heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 20px;
}

.main_headline {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  position: absolute;
  top: 200px;
  left: 20px;
}

.menu_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  background-color: #f53e32;
  border-radius: 5px;
  padding: 12px 23px;
  border: none;
  position: absolute;
  top: 240px;
  left: 20px;
}

.menu_desc::after {
  content: "";
  position: absolute;
  width: 158px;
  height: 54px;
  left: 20px;
  top: 160px;
  background-repeat: no-repeat;
  background-image: url('../img/menulogo.svg');
}

.menu_wrapper {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 306px;
  height: 468px;
  background-color: #fff;
  padding: 13px 13px;
  position: relative;
}

.menu_wrapper::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 146px;
  top: 60%;
  background-repeat: no-repeat;
  background-image: url('../img/icon3.svg');
}

.menu_wrap {
  border-radius: 5px;
  width: 280px;
  height: 280px;
  position: relative;
}

.menu_wrap::after {
  content: "";
  position: absolute;
  width: 86px;
  height: 16px;
  top: 113%;
  left: 80px;
  background-repeat: no-repeat;
  background-image: url('../img/icon4.svg');
}

.menu_button {
  border: 1px solid #e9e9e9;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  background-color: #f7f7f8;
  position: absolute;
  top: 93%;
  left: 122px;
}

.menu_column {
  font-weight: 400;
  font-size: 11px;
  line-height: 91%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #999;
  margin-left: 90px;
  margin-top: 7px;
}

.menu_inner {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #777;
  margin-top: 8px;
}

.menu_holder {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  width: 246px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

.menu_box {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f53e32;
}

.menu_grid {
  font-weight: 400;
  font-size: 13px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-decoration: line-through;
  text-align: center;
  color: #7a7a7a;
}

.menu_col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.menu_tiny {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}

.menu_control {
  max-width: 1320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}

/* about */
.about {
  margin-top: 76px;
}

.about_title {
  border-radius: 5px;
  width: 416px;
  height: 228px;
  position: relative;
}

.about_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2b2b2d;
  width: 166px;
  position: absolute;
  top: 40px;
  left: 24px;
}

.about_row {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 24px;
}

.about_pic {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}

.about_item {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #777;
}

.about_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  background-color: #f53e32;
  border-radius: 5px;
  padding: 12px 23px;
  border: none;
  position: absolute;
  top: 140px;
  left: 24px;
}

.about_block {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* days */
.days {
  margin-top: 100px;
}

.days_title {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 306px;
  height: 182px;
  background-color: #f7f7f8;
}

.days_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
  margin-top: 78px;
}

.days_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  width: 205px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  color: #7a7a7a;
}

.days_block {
  display: flex;
  gap: 24px;
}

/* food */
.food {
  margin-top: 139px;
}

.food {
  background-repeat: no-repeat;
  background-image: url('../img/img7.png');
  padding: 162px 162px;
  background-size: cover;
}

.food_block {
  border-radius: 5px;
  width: 500px;
  height: 275px;
  box-shadow: -3px 3px 8px 5px rgba(0, 0, 0, 0.05);
  background: rgba(124, 18, 18, 0.22);
  padding: 24px 24px;
}

.food_items {
  display: flex;
  padding: 24px;

}

.food_title {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}

.food_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #212529;
}

.food_row {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2b2b2d;
}

.food_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 439px;
}

.food_pic {
  border: 1px solid #e9cbbe;
  border-radius: 5px;
  width: 290px;
  height: 66px;
}

.food_box {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
}

/* organic */
.organic {
  padding-top: 60px;
}

.organic_title {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 306px;
  height: 470px;

}

.organic_item {
  border-radius: 5px;
  position: relative;
}

.organic_box {
  font-weight: 900;
  font-size: 24px;
  line-height: 156%;
  letter-spacing: 0.02em;
  width: 250px;
  text-align: right;
  color: #2b2b2d;
  position: absolute;
  top: 30%;
  right: 11px;
}

.organic_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.organic_tx {
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2b2b2d;
}

.organic_items {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 29px;
}

.organic_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b2b2d;
}


.organic_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  padding: 12px 23px;
  border: 1px solid #64b496;
  border-radius: 5px;
  background-color: #f53e32;
  position: absolute;
  top: 60%;
  right: 24px;
}

/* great */
.great {
  padding-top: 101px;
}

.great_tx {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
}

.great_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.great_items {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 416px;
  height: 278px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../img/img9.svg');
}

.great_items::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: -60px;
  left: 145px;
  background-repeat: no-repeat;
  background-image: url('../img/1.jpg.png');
}

.great_items:nth-child(2)::after {
  background-repeat: no-repeat;
  background-image: url('../img/2.jpg.png');
}

.great_items:nth-child(3)::after {
  background-repeat: no-repeat;
  background-image: url('../img/3.jpg.png');
}

.great_lead {
  font-weight: 400;
  font-size: 14px;
  line-height: 236%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  margin-top: 60px;
}

.great_copy {
  font-weight: 700;
  font-size: 18px;
  line-height: 183%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
  margin-top: 9px;
}

.great_copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 291px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.great_bolck {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* news */
.news {
  padding-top: 101px;
  padding-bottom: 100px;
}

.news_tx {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
}

.news_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.news_items {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 416px;
  height: 440px;
  background-color: #fff;
}

.news_wrap {
  font-weight: 600;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
  margin-top: 6px;
}

.news_inner {
  font-weight: 700;
  font-size: 14px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #64b496;
  margin-top: 13px;
}

.news_pic {
  padding: 24px;
}

.news_block {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* footer */
.footer {
  background-repeat: no-repeat;
  background-image: url('../img/footer.png');
  background-size: cover;
  padding-top: 82px;
}

.footer_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 394px;
}

.footer_tx {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.03em;
  color: #777;
  /* width: 350px; */
  margin-bottom: 18px;
}

.footer_desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000;
  margin-bottom: 20px;
}

.footer_row {
  display: flex;
  justify-content: space-between;
}

.input {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
  padding: 13px 200px 10px 16px;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  width: 416px;
  background-color: #fff;

}

.footer_link {
  margin-top: 24px;
}

.from {
  position: relative;
  margin-top: 17px;
}

.from::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  right: 4%;
  top: 15px;
  background-repeat: no-repeat;
  background-image: url('../img/Vector3.svg');
}

.footer_pic {
  border-radius: 5px;
  width: 73px;
  height: 73px;
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.hr {
  margin-top: 100px;
}

.footer_box {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-top: 19px;

}

.footer_box span {
  color: #f53e32;
}

.best {
  background-repeat: no-repeat;
  background-image: url('../img/about.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.best_title span {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}

.best_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #212529;
}

.best_item {
  font-weight: 900;
  font-size: 55px;
  line-height: 124%;
  letter-spacing: 0.01em;
  color: #000;
  width: 550px;
  margin-top: 20px;
}

.best_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 550px;
  margin-top: 25px;
}

.best_iput {
  font-weight: 400;
  font-size: 16px;
  color: #838383;
  padding: 22px 10px 22px 58px;
  border-radius: 50px 0 0 50px;
  width: 292px;
  border: none;

}

.form {
  position: relative;
  margin-top: 45px;
}

.best_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  width: 157px;
  background-color: #3bb77e;
  border: none;
  padding: 22px 40px;
  position: absolute;
  left: 250px;
}

.best_block {
  padding: 150px 150px;
  display: flex;
  justify-content: space-between;
}

.best_button {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  text-align: right;
  color: #3bb77e;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 30px;
  padding: 12px 20px 13px 41px;
  height: 46px;
}

.best_button:nth-child(2) {
  color: #253d4e;
}

.best_row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px;

}

.best_button {
  position: relative;
}

.best_button::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  left: 20px;
  top: 20px;
  background-repeat: no-repeat;
  background-image: url('../img/Icon.svg');
}

/* shop */
.shop_item {
  border-radius: 10px;
  position: relative;
}

.shop_text {
  width: 270px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #253d4e;
  position: absolute;
  top: 70px;
  left: 48px;
}

.shop_img {
  width: 410px;
  height: 300px;
}

.shop_btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #f53e32;
  border-radius: 4px;
  padding: 8px 28px 8px 13px;
  border: none;
  position: absolute;
  left: 50px;
  top: 180px;
}

.shop_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 75px;
}

/* products */
.products {
  padding-top: 49px;
}

.products_tx {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
}

.products_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #253d4e;
}

.products_text:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #3bb77e;
}

.products_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products_item {
  display: flex;
  gap: 19px;
}

.products_subject {
  border: 2px solid #ececec;
  border-radius: 15px;
  width: 298px;
  background-color: #fff;
}

.products_lead {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #adadad;
}

.products_tagline {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
  margin-top: 9px;
}

.products_quote {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #f53e32;
  margin-top: 7px;
}

.products_quote span {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}

.products_slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
  margin-top: 8px;
  margin-left: 88px;
}

.products_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  background-color: #f53e32;
  border-radius: 4px;
  padding: 9px 19px 10px 39px;
  border: none;
}

.products_caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
  position: relative;
}

.products_caption::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 55px;
  top: 12px;
  background-repeat: no-repeat;
  background-image: url('../img/Icon1.svg');
}

.products_heading {
  padding: 21px;
}

.products_title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 30px;
}

/* daily */
.daily_tx {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
  margin-top: 49px;
}

.daily_title {
  padding-top: 43px;
  position: relative;
}

.daily_title::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 15px;
  top: 61%;
  left: 130px;
  background-repeat: no-repeat;
  background-image: url('../img/daily\ icons.svg');
}

.daily_img {
  border-radius: 15px;
  width: 378px;
  height: 520px;
}

.daily_subject {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  padding: 49px;
  width: 370px;
  position: absolute;
  top: 60px;
}

.daily_btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 8px 28px 8px 13px;
  background-color: #f53e32;
  border-radius: 4px;
  border: none;
  position: absolute;
  top: 60%;
  left: 50px;
}

.daily_image {
  width: 276px;
  height: 251px;
  background-color: #fff;
}

.daily_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.daily_page {
  border: 1px solid #ececec;
  border-radius: 15px;
  width: 278px;
  height: 521px;
  background-color: #fff;
  padding: 21px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-top: 40px;
  /* overflow-x: hidden; */
}

.daily_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #adadad;
}

.daily_main {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #253d4e;
  margin-top: 9px;
}

.daily_aside {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #3bb77e;
  margin-top: 30px;
}

.daily_aside span {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-decoration: line-through;
  color: #adadad;
  margin-left: 6px;
}

.daily_widget {
  position: relative;
}

.daily_widget::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 236px;
  height: 5px;
  top: 105%;
  background-repeat: no-repeat;
  background-image: url('../img/daily2.png');
}

.daily_widget::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 16px;
  top: 61%;
  background-repeat: no-repeat;
  background-image: url('../img/icon4.svg');
}

.daily_wrapper {
  font-weight: 400;
  font-size: 13px;
  line-height: 185%;
  color: #253d4e;
  position: absolute;
  top: 145px;
}

.daily_button {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 14px 65px 15px 80px;
  border-radius: 4px;
  background-color: #f53e32;
  border: none;
  position: absolute;
  top: 180px;
}

/* deals */
.deals_tx {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
  margin-top: 29px;
}

.deals_image {
  border-radius: 15px;
  width: 378px;
  height: 335px;
}
.deals_block{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.deals_title {
  border-radius: 10px;
  width: 325px;
  height: 192px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
